[submodule "Assets/UWBNetworkingPackage-LW"]
	path = Assets/UWBNetworkingPackage-LW
	url = https://github.com/UWB-ARSandbox/UWBNetworkingPackage-LW
[submodule "Assets/Resources[UWB]"]
	path = Assets/Resources[UWB]
	url = https://github.com/UWB-ARSandbox/Resources
